*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----header block code-----*/

.header-nav-bar{
    position: sticky;
    top: 0;
    background-color: black;
    height: 6vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header-nav-bar .logo{
    font-size: 2rem;
    font-weight: bold;
}

.header-nav-bar .nav-bar-container .nav-bar .nav-bar-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-nav-bar .nav-bar-container .nav-bar .nav-bar-list .links{
    text-decoration: none;
    color: white;
    padding: 20px;
}
